### **LAB 3: LÀM SẠCH DỮ LIỆU CƠ BẢN**

In [38]:
import pandas as pd

In [39]:
# Đọc dữ liệu đầu vào
df = pd.read_csv(r'patient_heart_rate.csv')

In [40]:
print(df)

       1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0    2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1    3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2    4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3    5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4    6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5    7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6    8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
9    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
10   9.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
11  10.0    Louie McDuck  12.0       45kgs    -    -    -   92   95   87
12  11.0       Henry Nam   NaN       60kgs   78   75   72    -    -    -
13  12.0     Michel Long  34.0         NaN   65   67   55    -    -    -
14  13.0      Tana Ricky   NaN         NaN    -    -    -   68   72   70
15  14.0        UniLever   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
16  15.0             NaN  52.0      180lbs    -    -    -   68   75   72

**Vấn đề 1:** Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề "Missing header in the csv file"

In [41]:
# Thêm header vào dfframe để diễn giải dữ liệu
column_names=["Id", "Name", "Age", "Weight", 'm0006', 'm0612', 'm1218', 'f0006', 'f0612', 'f1218']

In [42]:
# Gán tiêu đề cho DataFrame
df.columns = column_names

In [43]:
# Đọc file dữ liệu
df = pd.read_csv('patient_heart_rate.csv', names= column_names)

In [44]:
# Hiển thị 5 dòng đầu tiên của dữ liệu
print(df.head())

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

**Vấn đề 2:** Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột "Name" chứa bao gồm "Firstname" và "Lastname", giải pháp là ta sẽ tách ra làm 2 cột

In [45]:
#Tách cột 'Name' thành 2 cột 'Firstname' và 'Lastname'
df[['Firstname','Lastname']] = df['Name'].str.split(expand=True)
    # split(expand=True): phương thức tách trên cột Name, không có kí tự phân cách
    #       cụ thể nunw mặc định sẽ tách theo khoảng trắng
    # expand=True: một dfframe mới được tạo ra từ việc tách chuỗi
    # df[['Firstname','Lastname']]: gán kết quả tách lần lượt vào 2 cột Firstname và Lastname

In [46]:
#Xóa cột Name khỏi df
df = df.drop('Name', axis=1) 
print (df) #In kết quả đã thay đổi

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71     -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
2    3.0  16.0         NaN     -     -     -    65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
10   NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
11   9.0  52.0      189lbs     -     -     -    68    75    72      Huey
12  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
13  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
14  12.0  34.0         NaN    65    67    55     -     -     -    Michel
15  13.0   NaN         NaN     -     -     -    68    72    70      Tana
16  14.0   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever
17  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10      NaN
11   McDuck
12   McDuck
13      Nam
14     Long
15    Ricky
16     None
17      NaN

**Vấn đề 3:** Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu. Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn "kg"

In [47]:
# Gán dữ liệu của cột Weight vào biến weight
weight = df['Weight']

In [49]:
#Sử dụng vòng lặp for duyệt qua từng phần tử trong cột weight
for i in range (0, len(weight)):
    x = str(weight[i])

    if "lbs" in x[-3:]: #Nếu chuỗi kết thúc bằng 'lbs' - 3 kí tự từ cuối 

        # Gán lại x khi đã loại bỏ 3 kí tự đó
        x = x[:-3:]
        #Chuyển đổi x sang số thực
        float_x = float(x)
        # Tính toán để chuyển giá trị đơn vị từ pounds sang kgs
        y = int(float_x/2.2)

        # kết quả sẽ được chuyển đổi lại sang dạng chuỗi và thêm đơn vị'kgs'
        y = str(y)+"kgs"
        
        # Gán lại giá trị vào biến weight 
        weight[i] = y
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
10   NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
11   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

**Vấn đề 4:** Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có thể đưa ra là xóa bỏ

In [50]:
# Loại bỏ các dòng dữ liệu rỗng trong DataFrame
df=df.dropna(how="all", inplace=False)
    # Xóa dòng nếu tất cả dữ liệu của dòng đó đều là NaN
    # how="all" : chỉ những dòng toàn bộ dữ liệu là NaN thì mới xóa
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

**Vấn đề 5:** Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname, age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý

In [51]:
#Loại bỏ trùng lặp trong data
df = df.drop_duplicates(subset=['Firstname','Lastname', 'Age', 'Weight'], inplace=False)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

**Vấn đề 6:** Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII. Giải pháp: Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác hoặc thay bằng việc đánh dấu bằng một kí tự khác (ví dụ: "warning")

In [52]:
#Xử lý các ký tự non-ASCII tại 2 cột Firstname và Lastname
df['Firstname'] = df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=False)
df['Lastname'] = df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=False)

In [53]:
# In dữ liệu
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

**Vấn đề 7:**  "Missing values", vấn đề này xảy ra tại các cột "Age", "Weight" và "Heart Rate". Thiếu dữ liệu (dữ liệu không đầy đủ) là vấn đề xảy ra nhiều trong các nguồn dữ liệu do nhiều nguyên nhân chủ quan lẫn khách quan.Có một vài giải pháp để xử lý vấn đề: 
* Deletion: Remove records with missing values
* Dummy substitution: Replace missing values with a dummy but valid value: 
e.g.: 0 for numerical values.
* Mean substitution: Replace the missing values with the mean.
* Frequent substitution: Replace the missing values with the most frequent item.
* Improve the data collector: Your business folk will talk to the clients and inform them about why it is worth fixing the problem with the data collector.

1. Thống kê thông tin dữ liệu thiếu trên từng biến Age và Weight

In [54]:
# Thống kê dữ liệu thiếu trên Age:
df_missing_age = df['Age'].isna().sum()
    # df['Age'].isna(): xét trên cột Age, nếu dữ liệu là NaN: True, ngược lại là False
    # sum(): đếm tổng số giá trị True

In [55]:
# Thống kê dữ liệu thiếu trên Weight:
df_missing_weight = df['Weight'].isna().sum()

In [56]:
# In ra thống kê
print(df_missing_age)

4

In [57]:
df_missing_weight

4

2. Yêu cầu xử lý dữ liệu thiếu như sau: Nếu dòng nào có Age hoặc Weight có dữ liệu thì phần Age hoặc Weight được tính như bên dưới, nếu thiếu cả 2 thông tin thì xóa dòng
    
    * Age: Giá trị thay thế là mean của các giá trị trong cột Age

In [58]:
# Xóa các dòng thiếu cả hai thông tin Age và Weight
df.dropna(subset=['Age', 'Weight'], how='all', inplace=True)

In [59]:
# Thay thế giá trị thiếu trong cột Age bằng giá trị trung bình
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [60]:
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0  36.1  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
12  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0  36.1  60kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
17  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [61]:
# Loại bỏ đơn vị 'kgs' từ các giá trị trong cột Weight và chuyển đổi sang numeric
df['Weight'] = df['Weight'].str.replace('kgs', '').astype(float)

In [62]:
# Thay thế giá trị thiếu trong cột Weigh bằng giá trị trung bình
df['Weight'] = df['Weight'].fillna(df['Weight'].mean())

In [63]:
# Chuyển đổi các giá trị từ float sang str và thêm 'kgs'
df['Weight'] = df['Weight'].astype(str) + 'kgs'

In [64]:
print(df)

      Id   Age   Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70.0kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70.0kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0  71.3kgs     -     -     -    65    69    72      Mini    Mouse
3    4.0  36.1  78.0kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90.0kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85.0kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56.0kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78.0kgs    78    76    75     -     -     -      Scpy      Doo
12  10.0  12.0  45.0kgs     -     -     -    92    95    87     Louie   McDuck
13  11.0  36.1  60.0kgs    78    75    72     -     -     -     Henry      Nam
14  12.0  34.0  71.3kgs    65    67    55     -     -     -    Michel     Long
17  15.0  52.0  81.0kgs     -     -     -    68    75    72       NaN      NaN

**Vấn đề 8:** một cột chứa quá nhiều thông tin cần được phân rã, như trong bài toán này ta thấy header "m0006" chứa các nội dung bao gồm: m -> male, 1218 ~ 12-18 (mm-dd). Còn giá trị thì là kết quả huyết áp

Chúng ta sẽ tách nội dung của cột này ra làm 3 cột sau: PulseRate : giá trị huyết áp, Sex: giới tính ( m: male, f: female) và time: thời gian (tháng-ngày)

In [65]:
df = pd.melt(df, id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'], value_name="PulseRate", var_name="sex_and_time").sort_values(['Id', 'Age', 'Weight', 'Firstname', 'Lastname'])
# id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname']: chỉ định các cột để giữ làm các nhân tố nhận dạng
# value_name="PulseRate": đặt tên cho cột giá trị.
# var_name="sex_and_time": đặt tên cho cột biến.

In [66]:
# Trích xuất thông tin từ cột 'sex_and_time'
tmp_df = df["sex_and_time"].str.extract("(\D)(\d+)(\d{2})", expand=True)
    #(\D): các ký tự không phải số (giới tính)
    #(\d+): số giờ.
    #(\d{2}): số phút
    # expand=True: trả về DataFrame thay vì chuỗi

In [67]:
# Đặt tên lần lượt cho các cột
tmp_df.columns = ["Sex", "hours_lower", "hours_upper"]

In [68]:
# Tạo một cột mới Time bằng cách kết hợp 'hours_lower' và 'hours_upper'
tmp_df["Time"] = tmp_df["hours_lower"] + "-" + tmp_df["hours_upper"]

In [69]:
# Ghép tmp_df vào df để thêm thông tin giới tính, giờ và phút vào DataFrame ban đầu.
df = pd.concat([df, tmp_df], axis=1)

In [70]:
# Loại bỏ các cột sex_and_time, hours_lower, và hours_upper
df = df.drop(['sex_and_time', 'hours_lower', 'hours_upper'], axis=1)

# Loại bỏ hàng trong DataFrame có giá trị NaN
df = df.dropna()

In [71]:
# Lưu file csv
df.to_csv('outputcleanup.csv', index=False)

In [72]:
print(df)

      Id   Age   Weight Firstname Lastname PulseRate Sex   Time
0    1.0  56.0  70.0kgs     Micky     Mous        72   m  00-06
12   1.0  56.0  70.0kgs     Micky     Mous        69   m  06-12
24   1.0  56.0  70.0kgs     Micky     Mous        71   m  12-18
36   1.0  56.0  70.0kgs     Micky     Mous         -   f  00-06
48   1.0  56.0  70.0kgs     Micky     Mous         -   f  06-12
..   ...   ...      ...       ...      ...       ...  ..    ...
22  12.0  34.0  71.3kgs    Michel     Long        67   m  06-12
34  12.0  34.0  71.3kgs    Michel     Long        55   m  12-18
46  12.0  34.0  71.3kgs    Michel     Long         -   f  00-06
58  12.0  34.0  71.3kgs    Michel     Long         -   f  06-12
70  12.0  34.0  71.3kgs    Michel     Long         -   f  12-18

[65 rows x 8 columns]

**Vấn đề 9:** Khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp

1. Khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp

In [73]:
def fill_missing_bp(data): #Khai báo hàm, chứa dữ liệu về nhịp tim
    # Duyệt qua từng chỉ số trong DataFrame
    for i in data.index:
        if pd.isna(data.at[i, 'PulseRate']): #Kiểm tra giá trị tại hàng i và cột PulseRate có bị thiếu không (trả về True nếu bị thiếu)
            # 1. Trung bình của giá trị liền trước và liền sau
            if i > 0 and i < max(data.index) and not pd.isna(data.at[i-1, 'PulseRate']) and not pd.isna(data.at[i+1, 'PulseRate']):
                data.at[i, 'PulseRate'] = (data.at[i-1, 'PulseRate'] + data.at[i+1, 'PulseRate']) / 2
                '''Nếu chỉ số i lớn hơn 0 (có giá trị liền trước) và nhỏ hơn giá trị chỉ số lớn nhất 
                (có giá trị liền sau), và cả hai giá trị liền trước (i-1) và liền sau (i+1) đều không thiếu,
                  thì thay thế giá trị thiếu bằng trung bình của hai giá trị này.'''
            # 2. Trung bình của hai giá trị liền trước
            elif i > 1 and not pd.isna(data.at[i-2, 'PulseRate']) and not pd.isna(data.at[i-1, 'PulseRate']):
                data.at[i, 'PulseRate'] = (data.at[i-2, 'PulseRate'] + data.at[i-1, 'PulseRate']) / 2
            # 3. Trung bình của hai giá trị liền sau
            elif i < max(data.index)-1 and not pd.isna(data.at[i+1, 'PulseRate']) and not pd.isna(data.at[i+2, 'PulseRate']):
                data.at[i, 'PulseRate'] = (data.at[i+1, 'PulseRate'] + data.at[i+2, 'PulseRate']) / 2
            # 4. Trung bình của các giá trị của người đó
            elif 'PersonID' in data.columns and not data[data['PersonID'] == data.at[i, 'PersonID']]['PulseRate'].dropna().empty:
                data.at[i, 'PulseRate'] = data[data['PersonID'] == data.at[i, 'PersonID']]['PulseRate'].mean()
            # 5. Trung bình của các giá trị của nhóm giới tính
            elif 'Gender' in data.columns and not data[data['Gender'] == data.at[i, 'Gender']]['PulseRate'].dropna().empty:
                data.at[i, 'PulseRate'] = data[data['Gender'] == data.at[i, 'Gender']]['PulseRate'].mean()
            # 6. Trung bình của toàn bộ dữ liệu
            elif data['PulseRate'].notna().any():
                data.at[i, 'PulseRate'] = data['PulseRate'].mean()
            # 7. Giá trị ổn định trong y học
            else:
                data.at[i, 'PulseRate'] = 120  # Giá trị ổn định trong y học
    return data

In [74]:
# Gọi hàm fill_missing_bp để xử lý các giá trị thiếu
df = fill_missing_bp(df)

print(df)

      Id   Age   Weight Firstname Lastname PulseRate Sex   Time
0    1.0  56.0  70.0kgs     Micky     Mous        72   m  00-06
12   1.0  56.0  70.0kgs     Micky     Mous        69   m  06-12
24   1.0  56.0  70.0kgs     Micky     Mous        71   m  12-18
36   1.0  56.0  70.0kgs     Micky     Mous         -   f  00-06
48   1.0  56.0  70.0kgs     Micky     Mous         -   f  06-12
..   ...   ...      ...       ...      ...       ...  ..    ...
22  12.0  34.0  71.3kgs    Michel     Long        67   m  06-12
34  12.0  34.0  71.3kgs    Michel     Long        55   m  12-18
46  12.0  34.0  71.3kgs    Michel     Long         -   f  00-06
58  12.0  34.0  71.3kgs    Michel     Long         -   f  06-12
70  12.0  34.0  71.3kgs    Michel     Long         -   f  12-18

[65 rows x 8 columns]

**Vấn đề 10:** Rút gọn dữ liệu phù hợp và reindex lại dữ liệu. Sau đó, lưu trữ dữ liệu đã xử lý thành công với tên file patient_heart_rate_clean.csv

In [75]:
# Chọn các cột liên quan, chỉ giữ lại các cột có tên 'Id', 'Age', 'Weight', 'Firstname', 'PulseRate'
df = df[['Id', 'Age', 'Weight', 'Firstname', 'PulseRate']] 

# Loại bỏ các hàng có giá trị thiếu 
df = df.dropna()
    # dropna(): loại bỏ tất cả các hàng có ít nhất một giá trị thiếu trong bất kỳ cột nào.

# Đánh lại chỉ số của DataFrame
df.reset_index(drop=True, inplace=True)
    #drop=True: đảm bảo rằng chỉ số cũ không được giữ lại như một cột mới.

# Lưu dữ liệu 
cleaned_file_path = 'patient_heart_rate_clean.csv'
df.to_csv(cleaned_file_path, index=False)

#Trả về đường dẫn file đã lưu
cleaned_file_path

'patient_heart_rate_clean.csv'